
/functions/__pycache__
/__pycache__
functions/old_Publication_Script.py
/trainingoutput
example_data_generator.py
my_config.yaml
data/Primpke_cleaned_utf8.csv
data/plain_jung_data.csv
data/plain_Brignac.csv
data/openspeccycombo.csv
data/D4_4_publication.csv
data/Carbery.csv
